@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --black: #000;
    --black-light: #121212;
    --gray: #2C2C2C;
    --green: #41D760;
}

.container--album-preview {
    background-color: #D3B64B
}


.navbar--playlists {
    border-top: 1px solid var(--gray) ;
}

.text--green {
    color: var(--green);
}

.bg--green {
    background-color: var(--green);
}

.bg--black-light {
    background-color: var(--black-light);
}

.bg--black-gradient {
    background: rgb(16,16,16);
    background: -moz-linear-gradient(0deg, rgba(16,16,16,1) 65%, rgba(44,44,44,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(16,16,16,1) 65%, rgba(44,44,44,1) 100%);
    background: linear-gradient(0deg, rgba(16,16,16,1) 65%, rgba(44,44,44,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#101010",endColorstr="#2c2c2c",GradientType=1);
}

.bg--gray {
    background-color: var(--gray);
}

.bg--spotify-gradient {
    background: rgb(80,28,242);
    background: -moz-linear-gradient(120deg, rgba(80,28,242,1) 17%, rgba(136,130,229,1) 55%, rgba(180,213,219,1) 100%);
    background: -webkit-linear-gradient(120deg, rgba(80,28,242,1) 17%, rgba(136,130,229,1) 55%, rgba(180,213,219,1) 100%);
    background: linear-gradient(120deg, rgba(80,28,242,1) 17%, rgba(136,130,229,1) 55%, rgba(180,213,219,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#501cf2",endColorstr="#b4d5db",GradientType=1);
}


.container--audioplayer {
    background-color: var(--black-light);
    border-top: 1px solid var(--gray);
}

tr:hover {
    background-color: var(--gray); 
    cursor: pointer;
  }

  .selected-track {
    background-color: var(--gray);
  }

.icon__container--bookmark {
    background-color: #004537;
}

.icon--heart {
    color: #E2E3E5;
} 


.profile-pic {
    width: 26px;
    height: 26px;
}

.album-title::before {
    content: 'Album';
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
}

.card__audioplayer .card-img {
    width: 56px;
    height: 56px;
}

.card__audioplayer {
    background-color: var(--black-light);
}

.progress {
    height: 5px !important;
}

.seconds--start {
    left: 0;
    bottom: 0;
    transform: translateY(50%);
}
.seconds--end {
    right: 0;
    bottom: 0;
    transform: translateY(50%);
}

.card__audioplayer {
    max-width: 320px !important;
}

.audioplayer__wrapper-btn--settings .progress {
    width: 150px;
}


.container__btn--top button.bg--green{
    height: 45px;
    width: 45px;
    border-radius: 100%;
    
}

table.table {
    --bs-table-bg: transparent;
    --bs-table-color: #fff;
}

table.table thead {
    border-bottom: 1px solid var(--gray);
    font-size: .8rem;
}


.container--album-info {
    background: rgb(0,0,0);
    background: -moz-linear-gradient(20deg, rgba(0,0,0,1) 34%, rgba(255,255,255,0) 71%);
    background: -webkit-linear-gradient(20deg, rgba(0,0,0,1) 34%, rgba(255,255,255,0) 71%);
    background: linear-gradient(20deg, rgba(0,0,0,1) 34%, rgba(255,255,255,0) 71%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
}


.container--artist-cover img{
    max-height: 250px;
}

.btn--following, .nav-mobile-label {
    font-size: 0.65rem !important;
}


.table--img-container {
    height: 40px;
    width: 40px;
}


.card__favourite .card-img {
    height:60px;
    width: 60px;
}

.container__audioplayer--mobile {
    width: 90%;
    margin-inline: auto;
}

.title__audioplayer--mobile {
    animation: translateText 5000ms linear infinite;
    white-space: nowrap;
}


.card-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


@keyframes translateText {
    0% {
        margin-left: 200%;
    } 

    50% {
        margin-left: 0;
    }

    100% {
        margin-left: -250%;
    }

}



/* dispositivi mobili (portrait and landscape) */
@media only screen and (max-width: 767px) {
    
    .container--audioplayer {
        border: 0;
        background: rgb(0,0,0, 0.9);
    }

    .container--album-pic {
        max-width: 200px;
    }

    .album-title::before {
        content: '';
    }

    .album-title {
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    .container--album-preview {
        background: rgb(229,198,83);
        background: -moz-linear-gradient(180deg, rgba(229,198,83,0.6643032212885154) 0%, rgba(18,18,18,0.4458158263305322) 86%, rgba(18,18,18,1) 100%);
        background: -webkit-linear-gradient(180deg, rgba(229,198,83,0.6643032212885154) 0%, rgba(18,18,18,0.4458158263305322) 86%, rgba(18,18,18,1) 100%);
        background: linear-gradient(180deg, rgba(229,198,83,0.6643032212885154) 0%, rgba(18,18,18,0.4458158263305322) 86%, rgba(18,18,18,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e5c653",endColorstr="#121212",GradientType=1);
    }

    .container--trakslist {
        background-color: var(--black-light);
    }

    .container__btn--top button.bg--green{
        height: 32px;
        width: 32px;
        border-radius: 100%;   
        padding: 0;
    }
}

/* dispositivi tablet  */
@media only screen and (min-width: 768px)  {
    .container--trakslist {
        background: rgb(229,198,83);
        background: -moz-linear-gradient(180deg, rgba(229,198,83,0.6643032212885154) 0%, rgba(18,18,18,0.4458158263305322) 16%, rgba(18,18,18,1) 39%);
        background: -webkit-linear-gradient(180deg, rgba(229,198,83,0.6643032212885154) 0%, rgba(18,18,18,0.4458158263305322) 16%, rgba(18,18,18,1) 39%);
        background: linear-gradient(180deg, rgba(229,198,83,0.6643032212885154) 0%, rgba(18,18,18,0.4458158263305322) 16%, rgba(18,18,18,1) 39%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e5c653",endColorstr="#121212",GradientType=1);
    }

    ::-webkit-scrollbar {
        width: 1rem;
    }
    
    ::-webkit-scrollbar-track {
        background-color: var(--black-light);
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: var(--gray);
    }
}

/* Desktop */
@media only screen and (min-width: 1024px) {
    /* .container--trakslist {
        background: rgb(229,198,83);
        background: -moz-linear-gradient(180deg, rgba(229,198,83,0.6643032212885154) 0%, rgba(18,18,18,0.4458158263305322) 16%, rgba(18,18,18,1) 39%);
        background: -webkit-linear-gradient(180deg, rgba(229,198,83,0.6643032212885154) 0%, rgba(18,18,18,0.4458158263305322) 16%, rgba(18,18,18,1) 39%);
        background: linear-gradient(180deg, rgba(229,198,83,0.6643032212885154) 0%, rgba(18,18,18,0.4458158263305322) 16%, rgba(18,18,18,1) 39%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e5c653",endColorstr="#121212",GradientType=1);
    } */
}

/* Andrea */
/* player audio su dispositivi mobili */
/* @media only screen and (max-width: 767px) {
    .container--audioplayer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1050;
        background-color: var(--black-light);
        padding: 5px 10px;
        box-shadow: 0 -2px 10px rgba(0,0,0,0.5);
    }

    .navbar--menu {
        display: none;
    }

    .audioplayer__wrapper-btn,
    .audioplayer__wrapper-btn--settings {
        flex-wrap: wrap;
        justify-content: center;
    }

    .btn--play,
    .btn--prev,
    .btn--next,
    .btn--shuffle,
    .btn--repeat {
        padding: 8px;
        font-size: 20px;
        color: var(--green);
    }

    .card__audioplayer .card-body,
    .card__audioplayer .card__container--icon,
    .audioplayer__wrapper-btn--settings > *:not(.btn--volume),
    .card__audioplayer .card-img {
        display: none;
    }

    .btn--volume {
        display: inline-block;
    }

    #volumeControl {
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        display: none;
    }

    .btn--volume:focus + #volumeControl,
    #volumeControl:focus {
        display: inline-block;
    }

    .progress {
        height: 4px;
        width: calc(100% - 20px);
        margin: 8px auto;
    }
} */
