@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --black: #000;
    --black-light: #121212;
    --gray: #2C2C2C;
    --green: #41D760;
}

.container--album-preview {
    background-color: #D3B64B
}


.navbar--playlists {
    border-top: 1px solid var(--gray) ;
}

.text--green {
    color: var(--green);
}

.bg--green {
    background-color: var(--green);
}

.bg--black-light {
    background-color: var(--black-light);
}

.bg--gray {
    background-color: var(--gray);
}

.bg--spotify-gradient {
    background: rgb(80,28,242);
    background: -moz-linear-gradient(120deg, rgba(80,28,242,1) 17%, rgba(136,130,229,1) 55%, rgba(180,213,219,1) 100%);
    background: -webkit-linear-gradient(120deg, rgba(80,28,242,1) 17%, rgba(136,130,229,1) 55%, rgba(180,213,219,1) 100%);
    background: linear-gradient(120deg, rgba(80,28,242,1) 17%, rgba(136,130,229,1) 55%, rgba(180,213,219,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#501cf2",endColorstr="#b4d5db",GradientType=1);
}


.container--audioplayer {
    background-color: var(--black-light);
    border-top: 1px solid var(--gray);
}


.icon__container--bookmark {
    background-color: #004537;
}

.icon--heart {
    color: #E2E3E5;
} 


.profile-pic {
    width: 26px;
    height: 26px;
}

.album-title::before {
    content: 'Album';
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
}

tr:hover {
    background-color: var(--gray); 
    cursor: pointer;
  }

.card__audioplayer .card-img {
    width: 56px;
    height: 56px;
}

.card__audioplayer {
    background-color: var(--black-light);
}

.progress {
    height: 5px !important;
}

.seconds--start {
    left: 0;
    bottom: 0;
    transform: translateY(50%);
}
.seconds--end {
    right: 0;
    bottom: 0;
    transform: translateY(50%);
}

.card__audioplayer {
    max-width: 320px !important;
}

.audioplayer__wrapper-btn--settings .progress {
    width: 150px;
}


.container__btn--top button.bg--green{
    height: 45px;
    width: 45px;
    border-radius: 100%;
    
}

table.table {
    --bs-table-bg: transparent;
    --bs-table-color: #fff;
}

table.table thead {
    border-bottom: 1px solid var(--gray);
    font-size: .8rem;
}



/* dispositivi mobili (portrait and landscape) */
@media only screen and (max-width: 767px) {
    .container--album-pic {
        max-width: 200px;
    }

    .album-title::before {
        content: '';
    }

    .album-title {
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    .container--album-preview {
        background: rgb(229,198,83);
        background: -moz-linear-gradient(180deg, rgba(229,198,83,0.6643032212885154) 0%, rgba(18,18,18,0.4458158263305322) 86%, rgba(18,18,18,1) 100%);
        background: -webkit-linear-gradient(180deg, rgba(229,198,83,0.6643032212885154) 0%, rgba(18,18,18,0.4458158263305322) 86%, rgba(18,18,18,1) 100%);
        background: linear-gradient(180deg, rgba(229,198,83,0.6643032212885154) 0%, rgba(18,18,18,0.4458158263305322) 86%, rgba(18,18,18,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e5c653",endColorstr="#121212",GradientType=1);
    }

    .container--trakslist {
        background-color: var(--black-light);
    }

    .container__btn--top button.bg--green{
        height: 32px;
        width: 32px;
        border-radius: 100%;   
        padding: 0;
    }
}

/* dispositivi tablet  */
@media only screen and (min-width: 768px)  {
    .container--trakslist {
        background: rgb(229,198,83);
        background: -moz-linear-gradient(180deg, rgba(229,198,83,0.6643032212885154) 0%, rgba(18,18,18,0.4458158263305322) 16%, rgba(18,18,18,1) 39%);
        background: -webkit-linear-gradient(180deg, rgba(229,198,83,0.6643032212885154) 0%, rgba(18,18,18,0.4458158263305322) 16%, rgba(18,18,18,1) 39%);
        background: linear-gradient(180deg, rgba(229,198,83,0.6643032212885154) 0%, rgba(18,18,18,0.4458158263305322) 16%, rgba(18,18,18,1) 39%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e5c653",endColorstr="#121212",GradientType=1);
    }

    ::-webkit-scrollbar {
        width: 1rem;
    }
    
    ::-webkit-scrollbar-track {
        background-color: var(--black-light);
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: var(--gray);
    }
}

/* Desktop */
@media only screen and (min-width: 1024px) {
    /* .container--trakslist {
        background: rgb(229,198,83);
        background: -moz-linear-gradient(180deg, rgba(229,198,83,0.6643032212885154) 0%, rgba(18,18,18,0.4458158263305322) 16%, rgba(18,18,18,1) 39%);
        background: -webkit-linear-gradient(180deg, rgba(229,198,83,0.6643032212885154) 0%, rgba(18,18,18,0.4458158263305322) 16%, rgba(18,18,18,1) 39%);
        background: linear-gradient(180deg, rgba(229,198,83,0.6643032212885154) 0%, rgba(18,18,18,0.4458158263305322) 16%, rgba(18,18,18,1) 39%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e5c653",endColorstr="#121212",GradientType=1);
    } */
}
